
$general-background: #C5D8DA;
$active-button: greenyellow;
$disabled-button: red;
$border: #5e5ebb;
$borderLight: gray;
$borderInternal: rgba(128, 128, 128, 0.25);
$leftEqual: blue;
$simpleRow: red;
$navbarColor: white;
$warning: red;
