@import '_variables';

.indexGeneral
{


    padding: 20px;
    background-color: $general-background;

	.footer
	{
		position: fixed;
		bottom: 15px;
		right: 15px;
		
	}

    .height50
    {
        height: 53px;
    }

    .width240
    {
        width: 240px;   
    }

    .width120
    {
        width: 120px;
    }

    .moveDownSetting
    {
        margin-top: 60px;
    }

    .moveUpSetting
    {
	position: relative;
	top: -131px
    }

    .styleArea
    {
        width: 103%;
    }	
    
    .red-border
    {
    	border-color: #a94442;
    }

    .littleRight
    {
        margin-left: 13px;
    }

    .well-height-extra
    {
        height: 350px;
    }
    
    .well-height
    {
        height: 250px   //139px;
    }

    .ridge
    {
        //border-style: ridge;
        //height: 117px;
    }
    
    .absoluteCenter
    {
        position: fixed;
        bottom: 400px;
        width: 100%;
    }

    .transparent
    {
	opacity: 0.4;
	pointer-events: none;
    }

    .borderGroupInternal
    {
        border-radius: 25px;
        border: 1px solid $borderInternal;
        padding: 10px; 
        //margin-top: 20px;
        width: 100%;
        height: 123px;
    }
    
    .borderGroup
    {
        border-radius: 25px;
        border: 2px solid $border;
        padding: 20px; 
        margin-top: 20px;
        width: 100%;
        height: 450px;
    }

    .borderLight
    {
        border-radius: 5px;
	   background-color: $borderInternal;        
	    padding-left: 7px; 
        width: 100%;
    }

    .borderLightLeft
    {
        border-radius: 5px;
        background-color: $borderInternal;        
        padding-right: 30px;
        padding-left: 19px;
        padding-top: 11px;
        padding-bottom: 7px; 
        //width: 55%;
    }

    .starter
    {
        padding: 5px;
        margin-top: 5px;
    }

    .starterButton
    {
        width: 80px;
        height: 40px;
        margin-left: -15px;
    }
    
    .row
    {
        .logoImage
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 110px;
            width: auto;
            //max-width: 575px; //retina compatible
            //max-height: 155px; //retina compatible
        }
    }

    .center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .centerTextAlign
    {
        text-align: center
    }

    .white
    {
        background: white;
        &:hover 
        {
            background: $active-button;
        }
    }

    .full
    {
        width: 100%;
    }

    .half
    {
        width: 50%;
    }

    .greenWell
    {
        &:hover {
            background: $active-button;
        }        
    }


    .blackText 
    {
        color: black;
    }

    .fixedTopRight
    {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .fixedTopLeft
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .releaseAegis
    {
        margin-top: 120px;
        .center
        {
            text-align: center;
        }
    }

    .moveUp
    {
        margin-top: -45px;
    }

    .moveDown
    {
        margin-top: 25px;
    }

    .scrollable
    {
        background: #eaeaea;
        //height: 100px;
        overflow-y: scroll;
    }

    .logBlock
    {
        height: 270px;
        max-height: 270px;
    }

    .littlePadding
    {
        margin: 5px;
    }

    .setting
    {
        position: absolute;
        left: 78px;
        top: 265px;
    }

    .advancedSettings
    {
	margin-top: -92px;
    }

    .settingButton
    {
        font-weight: bold;
        padding: 15px;
	width: 80%;
    }
}
